# Ignore node_modules directory
node_modules

# Ignore log files
logs
*.log

# Ignore Dockerfile and .dockerignore itself
Dockerfile
.dockerignore

# Ignore temporary files and directories
tmp
*.tmp

# Ignore local environment files
.env

# Ignore built
dist

# Ignore SQL scripts 
scripts

# Ignore test & specs
*.spec.ts
test